.page {
  width: 100%;
  height: 100vh;
  display: grid;
}

.template {
  grid-template:
  "header header"    auto
  "sidebar graph"   1fr
  / 13rem 1fr;
}

.template-selected-verb {
  grid-template:
  "header header header header"    auto
  "sidebar graph schema timeline"   1fr
  "sidebar requests call timeline"   1fr
  / 13rem 1fr 1fr 13rem;
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.graph {
  grid-area: graph;
}

.call {
  grid-area: call;
}

.timeline {
  grid-area: timeline;
}

.requests {
  grid-area: requests;
}

.schema {
  grid-area: schema;
}
