.template {
  display: grid;
  gap: 0.5rem;
  grid-template:
    'graph' 50%
    'requests' 50%;
  align-items: start;
  justify-items: start;
}

.template-selected-verb {
  display: grid;
  overflow: hidden;
  gap: 0.5rem;
  grid-template:
    'graph verbs' 1fr
    'requests verbs' 1fr
    / 1fr 1fr;
}

.graph {
  grid-area: graph;
}

.verbs {
  grid-area: verbs;
}

.requests {
  grid-area: requests;
}
