.template {
  display: grid;
  grid-template: "graph" 100% / 1fr;
}

.template-selected-verb {
  display: grid;
  overflow: hidden;
  grid-template:
  "graph schema"   1fr
  "requests call"   1fr
  / 1fr 1fr;
}

.graph {
  grid-area: graph;
}

.call {
  grid-area: call;
}

.requests {
  grid-area: requests;
}

.schema {
  grid-area: schema;
}
