module main

go {{ .GoVersion }}

{{ if ne .FTLVersion "" }}
require github.com/TBD54566975/ftl v{{ .FTLVersion }}
require ftl/{{ .Name }} v{{ .FTLVersion }}
{{ end }}

replace ftl/{{ .Name }} => ../../..

{{- range .Replacements }}
replace {{ .Old }} => {{ .New }}
{{- end }}
