.hermit/
.vscode/*
!/.vscode/settings.json
!/.vscode/launch.json
.idea/*
!.idea/runConfigurations/
*.iml
target/
build/
deploy/
.DS_Store
reflex.conf
/logs/
/node_modules
*.tsbuildinfo
generated_ftl_module.go
*.zip
dist/
examples/**/go.work
examples/**/go.work.sum
testdata/**/go.work
testdata/**/go.work.sum

# Leaving old _ftl for now to avoid old stuff getting checked in
**/testdata/**/_ftl
**/examples/**/_ftl
**/types.ftl.go
**/testdata/**/.ftl
**/examples/**/.ftl
/.ftl

buildengine/.gitignore
go.work*
junit*.xml
/readme-tests
/docs/public
.ftl.lock
