.hermit/
.vscode/
!/.vscode/settings.json
.idea/
*.iml
target/
build/
deploy/
.DS_Store
reflex.conf
/logs/
/node_modules
*.tsbuildinfo
generated_ftl_module.go
*.zip
dist/
examples/**/go.work
examples/**/go.work.sum
testdata/**/go.work
testdata/**/go.work.sum
**/testdata/**/_ftl
**/examples/**/_ftl
buildengine/.gitignore
go.work*
junit*.xml
/readme-tests
**/_ftl
