version: '3.1'

services:
  db:
    image: postgres
    command: postgres
    user: postgres
    # For local debugging
    # -c logging_collector=on -c log_destination=stderr -c log_directory=/logs -c log_statement=all
    # volumes:
    #   - ./logs:/logs
    restart: always
    environment:
      POSTGRES_PASSWORD: secret
    ports:
      - 5432:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 1s
      timeout: 60s
      retries: 60
      start_period: 80s  

