services:
  db:
    image: postgres:15.8
    command: postgres
    user: postgres
    # For local debugging
    # -c logging_collector=on -c log_destination=stderr -c log_directory=/logs -c log_statement=all
    # volumes:
    #   - ./logs:/logs
    restart: always
    environment:
      POSTGRES_PASSWORD: secret
    ports:
      - 15432:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 1s
      timeout: 60s
      retries: 60
      start_period: 80s
  grafana:
    image: grafana/otel-lgtm
    platform: linux/amd64
    restart: unless-stopped
    stdin_open: true # docker run -i
    tty: true        # docker run -t
    ports:
      - 3000:3000 # Portal Endpoint
      - ${OTEL_GRPC_PORT}:4317 # OTLP GRPC Collector
      - ${OTEL_HTTP_PORT}:4318 # OTLP HTTP Collector
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana-storage:/var/lib/grafana
  otel-collector:
    profiles:
      - infra
    image: otel/opentelemetry-collector-contrib
    volumes:
      - ./otel-local-config.yaml:/etc/otelcol-contrib/config.yaml
    ports:
      - 4317:4317 # OTLP gRPC receiver
      - 4318:4318 # OTLP http receiver
  localstack:
    image: localstack/localstack
    profiles:
      - integration
    ports:
      - 4566:4566
    environment:
      SERVICES: secretsmanager
      DEBUG: 1

volumes:
  grafana-storage: {}