//ftl:module {{ .Name | camel | lower }}
package {{ .Name | camel | lower }}

import (
	"context"
	"fmt"

	ftl "github.com/TBD54566975/ftl/go-runtime/sdk" // Import the FTL SDK.
)

type EchoRequest struct {
	Name ftl.Option[string] `json:"name"`
}

type EchoResponse struct {
	Message string `json:"message"`
}

//ftl:verb
func Echo(ctx context.Context, req EchoRequest) (EchoResponse, error) {
	return EchoResponse{Message: fmt.Sprintf("Hello, %s!", req.Name)}, nil
}