apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base

images:
  - name: ftl0/ftl-controller
    newName: ftl:5000/ftl-controller
    newTag: latest
  - name: ftl0/ftl-runner
    newName: ftl:5000/ftl-runner
    newTag: latest
