fullnameOverride: ""
nameOverride: ""


secrets:
  logEncryptionKey: null
  asyncEncryptionKey: null
  controllerRegistryUsername: null
  controllerRegistryPassword: null
  runnerRegistryUsername: null
  runnerRegistryPassword: null

dbMigration:
  enabled: true

controller:
  controllersRoleArn: arn:aws:iam::ftl-controllers-irsa-role
  replicas: 2
  revisionHistoryLimit: 0

  image:
    repository: "ftl0/ftl-controller"
    pullPolicy: IfNotPresent

  resources:
    requests:
      memory: 512Mi
      cpu: 10m
    limits:
      memory: 512Mi
      cpu: 2

  envFrom: null
  dbConnectionString: "postgres://$(endpoint):$(port)/tbd?sslmode=disable&user=$(username)&password=$(password)"
  kmsUri: "fake-kms://CKbvh_ILElQKSAowdHlwZS5nb29nbGVhcGlzLmNvbS9nb29nbGUuY3J5cHRvLnRpbmsuQWVzR2NtS2V5EhIaEE6tD2yE5AWYOirhmkY-r3sYARABGKbvh_ILIAE"
  serviceAccountName: ftl

  env:
    - name: MY_POD_IP
      valueFrom:
        fieldRef:
          fieldPath: status.podIP
    - name: FTL_CONTROLLER_BIND
      value: "http://$(MY_POD_IP):8892"
    - name: FTL_CONTROLLER_ADVERTISE
      value: "http://$(MY_POD_IP):8892"
    - name: LOG_LEVEL
      value: "debug"
    - name: LOG_JSON
      value: "true"
    - name: HOST_IP
      valueFrom:
        fieldRef:
          fieldPath: status.hostIP
#    - name: OTEL_EXPORTER_OTLP_ENDPOINT
#      value: "http://$(HOST_IP):4317"
#    - name: OTEL_RESOURCE_ATTRIBUTES
#      value: "env=ftlDefault"

  ports:
    - name: http
      containerPort: 8892
      protocol: TCP

  readinessProbe: null

  service:
    type: ClusterIP
    annotations: null
    ports:
      - name: "http-8892"
        port: 80
        protocol: TCP
        targetPort: 8892

  ingressService:
    type: ClusterIP
    annotations: null
    ports:
      - name: "http-8891"
        port: 80
        protocol: TCP
        targetPort: 8891

  podAnnotations:
    proxy.istio.io/config: |
      holdApplicationUntilProxyStarts: true
  nodeSelector: null
  affinity: null
  topologySpreadConstraints: null
  tolerations: null

provisioner:
  provisionersRoleArn: arn:aws:iam::ftl-provisioners-irsa-role
  replicas: 1
  revisionHistoryLimit: 0
  configMap: "ftl-provisioner-default-config"
  image:
    repository: "ftl0/ftl-provisioner"
    pullPolicy: IfNotPresent

  envFrom: null
  serviceAccountName: ftl-provisioner

  env:
    - name: MY_POD_IP
      valueFrom:
        fieldRef:
          fieldPath: status.podIP
    - name: FTL_PROVISIONER_BIND
      value: "http://$(MY_POD_IP):8893"
    - name: FTL_ENDPOINT
      value: "http://ftl-controller:8892"
    - name: LOG_LEVEL
      value: "debug"
    - name: LOG_JSON
      value: "true"
    - name: HOST_IP
      valueFrom:
        fieldRef:
          fieldPath: status.hostIP
  ports:
    - name: http
      containerPort: 8893
      protocol: TCP

  readinessProbe: null

  service:
    type: ClusterIP
    annotations: null
    ports:
      - name: "http-8893"
        port: 80
        protocol: TCP
        targetPort: 8893

  podAnnotations:
      proxy.istio.io/config: |
        holdApplicationUntilProxyStarts: true
  nodeSelector: null
  affinity: null
  topologySpreadConstraints: null
  tolerations: null

runner:
  revisionHistoryLimit: 0

  envFrom: null
  image:
    pullPolicy: IfNotPresent
  resources:
    requests:
      memory: 256Mi
      cpu: 10m
    limits:
      memory: 256Mi
      cpu: 2
  env:
    - name: MY_POD_IP
      valueFrom:
        fieldRef:
          fieldPath: status.podIP
    - name: FTL_ENDPOINT
      value: "http://ftl-controller"
    - name: FTL_RUNNER_BIND
      value: "http://$(MY_POD_IP):8893"
    - name: FTL_RUNNER_ADVERTISE
      value: ""
    - name: FTL_RUNNER_START_DELAY
      value: "3s"
    - name: LOG_LEVEL
      value: "debug"
    - name: LOG_JSON
      value: "true"
    - name: HOST_IP
      valueFrom:
        fieldRef:
          fieldPath: status.hostIP

  ports:
    - name: http
      containerPort: 8893
      protocol: TCP

  readinessProbe: null

  headlessService:
    ports:
      - port: 8893
        targetPort: 8893

  podAnnotations:
    proxy.istio.io/config: |
      holdApplicationUntilProxyStarts: true
  nodeSelector: null
  affinity: null
  topologySpreadConstraints: null
  tolerations: null


cron:
  replicas: 1
  revisionHistoryLimit: 0
  image:
    repository: "ftl0/ftl-cron"
    pullPolicy: IfNotPresent

  envFrom: null
  serviceAccountName: ftl-cron

  env:
    - name: FTL_ENDPOINT
      value: "http://ftl-controller:8892"
    - name: LOG_LEVEL
      value: "debug"
    - name: LOG_JSON
      value: "true"

postgresql:
  enabled: true
  architecture: standalone
  primary:
    resources:
      requests:
        memory: 1024Mi
      limits:
        memory: 1024Mi
  global:
    postgresql:
      auth:
        username: ftl
        password: ftl
        database: ftl

istio:
  enabled: false # set to true to have this chart install the grpc config to enable trailers

registry:
  repository: ""
  allowInsecure: false
  create: false


ingress:
  enabled: false
  env:
    - name: MY_POD_IP
      valueFrom:
        fieldRef:
          fieldPath: status.podIP
    - name: FTL_ENDPOINT
      value: "http://ftl-controller:8892"
    - name: FTL_INGRESS_BIND
      value: "http://$(MY_POD_IP):8891"
    - name: FTL_INGRESS_ALLOW_ORIGIN
      value: "*"
    - name: LOG_LEVEL
      value: "debug"
    - name: LOG_JSON
      value: "true"
    - name: HOST_IP
      valueFrom:
        fieldRef:
          fieldPath: status.hostIP
  ports:
    - name: ingress
      containerPort: 8891
      protocol: TCP
      port: 8891

  ingressAnnotations:
    kubernetes.io/ingress.class: nginx
  replicas: 2
  revisionHistoryLimit: 0

  image:
    repository: "ftl0/ftl-http-ingress"
    pullPolicy: IfNotPresent

  resources:
    requests:
      memory: 512Mi
      cpu: 10m
    limits:
      memory: 512Mi
      cpu: 2

  envFrom: null
  serviceAccountName: ftl-http-ingress

  readinessProbe: null

  service:
    type: ClusterIP
    annotations: null
    ports:
      - name: "http-8891"
        port: 80
        protocol: TCP
        targetPort: 8891

  podAnnotations:
    proxy.istio.io/config: |
      holdApplicationUntilProxyStarts: true
  nodeSelector: null
  affinity: null
  topologySpreadConstraints: null
  tolerations: null
