on:
  workflow_call:
name: Auto-version
jobs:
  semver-tag:
    name: Conventional Commits Auto-version
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Init Hermit
        uses: cashapp/activate-hermit@v1
      - name: Auto-version
        id: autoversion
        run: scripts/autoversion
        env:
          GH_TOKEN: ${{ secrets.FTL_AUTOVERSION_TOKEN }}
