on:
  push:
    branches:
      - main
  pull_request:
name: CI
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true
jobs:
  kotlin-runtime:
    name: Kotlin Runtime
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Init Hermit
        uses: cashapp/activate-hermit@v1
      - name: Test
        uses: gradle/gradle-build-action@v2
        with:
          arguments: test
          build-root-directory: kotlin-runtime/ftl-runtime
          gradle-executable: ${{ github.workspace }}/bin/gradle
  kotlin-ftl-plugin:
    name: FTL Plugin
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Init Hermit
        uses: cashapp/activate-hermit@v1
      - name: Test
        uses: gradle/gradle-build-action@v2
        with:
          arguments: test
          build-root-directory: kotlin-runtime/ftl-plugin
          gradle-executable: ${{ github.workspace }}/bin/gradle
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Init Hermit
        uses: cashapp/activate-hermit@v1
      - name: Docker Compose
        run: docker compose up -d --wait
      - name: Test
        run: go test ./...
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Init Hermit
        uses: cashapp/activate-hermit@v1
      - name: golangci-lint
        run: golangci-lint run
      - name: go-check-sumtype
        run: go-check-sumtype ./...
      - name: shellcheck
        run: shellcheck -e SC2016 scripts/*
  console:
    name: Console
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Init Hermit
        uses: cashapp/activate-hermit@v1
      - name: Console NPM Install
        working-directory: console/client
        run: npm install
      - name: Console Lint
        working-directory: console/client
        run: npm run lint
  docker-runner:
    name: Build Runner Docker Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Init Hermit
        uses: cashapp/activate-hermit@v1
      - name: Build
        run: docker build -f Dockerfile.runner .
  docker-controller:
    name: Build Controller Docker Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Init Hermit
        uses: cashapp/activate-hermit@v1
      - name: Build
        run: docker build -f Dockerfile.controller .
  integration:
    name: Integration Tests
    if: github.ref == 'refs/heads/main'
    uses: ./.github/workflows/integration.yml
  release:
    name: Release
    if: github.ref == 'refs/heads/main'
    needs:
      - kotlin-runtime
      - kotlin-ftl-plugin
      - test
      - lint
      - console
      - docker-runner
      - docker-controller
      - integration
    uses: ./.github/workflows/release.yml
